.server {
  float: right;
}

.avatar {
  cursor: pointer;
  position: relative;
  width: 32px;
  height: 32px;
  margin-top: -3px;
  line-height: 32px;
  text-align: center;
  border-radius: 32px;
  border: 1px solid white;
  background-color: rgb(153, 153, 153);
}

.anticon {
  font-size: 18px;
  color: white;
  position: relative;
  top: 2px;
}

.status {
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgb(153, 153, 153);
  position: absolute;
  left: 22px;
  top: 22px;
  cursor: pointer;
}

.serviceName {
  position: absolute;
  right: 60px;
  top: 15px;
  font-size: 14px;
  font-weight: bold;
}