.server {
  height: 70px;
  padding: 15px 0 0 25px;
  position: relative;
}

.avatar {
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid white;
  background-color: rgb(153, 153, 153);
}

.anticon {
  font-size: 25px;
  color: white;
  position: relative;
  top: 5px;
}

.status {
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgb(153, 153, 153);
  position: absolute;
  left: 55px;
  top: 43px;
  cursor: pointer;
}

.serviceName {
  position: absolute;
  left: 80px;
  top: 17px;
  font-size: 14px;
  font-weight: bold;
}