
.slider {
  background-color: white;
  width: 240px;
  position: absolute;
  top: 50px;
  bottom: 0;
  overflow: hidden;
  border-right: 1px solid #eee;
  box-shadow: 1px 0 1px 0 rgba(214, 214, 214, .3);
}

.visitorList {
  top: 0px;
  bottom: 40px;
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
}
