
.slider {
  background-color: white;
  width: 240px;
  flex:  0 0 240px;
  overflow: hidden;
  border-right: 1px solid #eee;
  box-shadow: 1px 0 1px 0 rgba(214, 214, 214, .3);
}

.visitorList {
  background: #fff;
  width: 100%;
  height: 100%;
}
